*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}

h2 {
  color: hsl(217, 19%, 35%);
  font-size: 14px;
  font-weight: 700;
}

h3 {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

p {
  color: hsl(217, 19%, 35%);
  font-size: 13px;
  font-weight: 500;
}

button {
  background-color: hsl(hsl(212, 23%, 69%));
  border-radius: 100%;
  border: none;
  padding: 8px;
}

.article {
  background-color: white;
  width: 800px;
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.image-article {
  width: 400px;
}

.image-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.text-article {
  padding: 40px;
}

.text-article p {
  padding-bottom: 20px;
}

.person {
  display: flex;
  justify-content: space-between;
}

.person-article {
  display: flex;
}

.person-article p {
  color: hsl(212, 23%, 69%);
}

.image-person {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.information-person {
  display: flex;
  flex-direction: column;
}

.icons-share {
  justify-self: flex-end;
}

.share-components {
  background-color: hsl(214, 17%, 51%);
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
