*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

/* img {
  width: 100%;
  height: 100%;
} */

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 22px;
}

h2 {
  color: hsl(217, 19%, 35%);
  font-size: 14px;
}

h3 {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  font-size: 14px;
}

p {
  color: hsl(217, 19%, 35%);
  font-size: 13px;
}

button {
  background-color: hsl(hsl(212, 23%, 69%));
}

.article-preview {
  background-color: white;
}

.person-article p {
  color: hsl(212, 23%, 69%);
}

.share-components {
  background-color: hsl(214, 17%, 51%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
