*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 1.5;
}

h2 {
  color: hsl(217, 19%, 35%);
  font-size: 14px;
  font-weight: 700;
}

h3 {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
}

p {
  color: hsl(217, 19%, 35%);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.75;
}

button {
  background-color: hsl(hsl(212, 23%, 69%));
  border-radius: 100%;
  border: none;
  padding: 8px;
}

.article {
  background-color: white;
  width: 730px;
  height: 280px;
  display: flex;
  border-radius: 10px;
}

.article-image {
  width: 285px;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.article-text {
  padding: 30px 50px 30px 40px;
  width: 445px;
  position: relative;
  overflow: visible;
}

.article-text p {
  padding-bottom: 20px;
}

.person {
  display: flex;
  justify-content: space-between;
}

.article-person {
  display: flex;
}

.article-person p {
  color: hsl(212, 23%, 69%);
}

.image-person {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.information-person {
  display: flex;
  flex-direction: column;
}

.information-person p {
  padding: 0;
}

.icons-share-desktop {
  justify-self: flex-end;
  cursor: pointer;
}

.icons-share-desktop:active {
  background-color: hsl(217, 19%, 35%);
}

.icons-share-desktop:focus {
  background-color: hsl(217, 19%, 35%);
}

.share-component-desktop {
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  display: none;
  flex-direction: row;
  padding: 15px 30px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 55px;
  top: 128px;
  left: 260px;
}

.share-component-desktop::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 100px;
  border-width: 26px 30px 0px 30px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.share-mobile {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(217, 19%, 35%);
}

@media (max-width: 800px) {
  .article {
    width: 330px;
    height: 510px;
    flex-direction: column;
  }

  .article-image {
    width: 330px;
    height: 200px;
  }

  .article-image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .article-text {
    padding: 30px 30px 15px 30px;
    width: 330px;
    height: 310px;
  }

  h1 {
    font-size: 16px;
    line-height: 1.75;
  }

  p {
    font-size: 13.1px;
    line-height: 1.65;
  }

  .article-text p {
    padding-bottom: 25px;
  }

  .share-component {
    display: flex;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 330px;
    height: 60px;
    top: 255px;
    left: 0px;
  }

  .share-component-desktop::after {
    display: none;
  }

  .share-mobile {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    background-color: hsl(217, 19%, 35%);
    padding: 20px 10px 15px 10px;
    top: 0px;
  }

  .share-component-mobile {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 230px;
    align-items: center;
  }

  .article-text {
    padding-bottom: 0px;
  }

  .person {
    display: flex;
  }

  .article-text p {
    padding-bottom: 15px;
    font-size: 13.7px;
  }

  h1 {
    font-size: 17px;
  }
}
